@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: #373747;
}

/* @media (prefers-color-scheme: dark) {
  background-color: #373747;
} 

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
    to bottom,
    transparent,
    rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */

html,
body {
  padding: 0;
  margin: 0;
  width: 100%;
}

a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
}